.vscode/
node-mongo-compose/backend/node_modules
node-mongo-compose/frontend/node_modules

# Logs
logs
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Diretórios de build
/dist
/build
